<div id="about"class="uk-section uk-section-default" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300" >

  <div class="uk-container uk-container-xsmall">

    <h2 class="uk-text-center"> Quiénes somos</h2>

    <br>
    <div class="uk-column-1-2@m uk-margin-top">
        <p><ins>Constructora Hammer</ins>  fue formada por Mario Arias, Constructor Civil de la Pontificia Universidad Católica de Chile. Se especializa en construir principalmente viviendas familiares en la Región de la Araucanía.</p>

        <p>Se orienta principalmente en la <ins>calidad</ins> del proyecto, acomodándose completamente a los requerimientos de cada dueño desde un inicio hasta el final de la obra.</p>

        <p>Esto permite <ins>flexibilizar</ins> y poder implementar en el transcurso de la construcción modificaciones que muchas veces ocurren.</p>

        <p>Trabajamos directamente con arquitectos, ingenieros y proyectistas que nos permiten entregar soluciones de <ins>vanguardia</ins> a construcciones en general y obras menores, remodelaciones de viviendas y locales comerciales, entre otros.</p>

    </div>
  </div>
</div>
