<div id="contact"class="uk-section uk-section-muted uk-background-cover" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300" >

    <div class="uk-container uk-container-xsmall">

      <h2 class="uk-text-center"> Contáctanos </h2>


      <form class="uk-form-horizontal uk-margin-large" action="https://formspree.io/xaypnbkd" method="POST">

        <div class="uk-margin">
          <label class="uk-form-label" for="name-form">Nombre</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-small" id="name-form" type="text" placeholder="Nombre" name="Nombre">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="mail-form">Email de contacto</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-small" id="mail-form" type="text" placeholder="Email de contacto" name="Email de contacto">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="phone-form">Teléfono de contacto</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-small" id="phone-form" type="text" placeholder="Teléfono de contacto" name="Teléfono de contacto">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="message-form">Mensaje</label>
          <div class="uk-form-controls">
            <textarea class="uk-textarea uk-form-small" id="message-form" rows="5" name="Mensaje" placeholder="Cuéntanos detalles de tu proyecto."></textarea>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text"></label>
          <div class="uk-form-controls">
            <input type="submit" value="Enviar" class="uk-button uk-button-default">
          </div>
        </div>

      </form>


    </div>

  </div>
