<div id="about"class="uk-light uk-section uk-section-secondary uk-padding uk-text-center">

  <img src="{{site.baseurl}}/assets/img/logo_white.png" alt="" class="logo">

  <h4 class="uk-margin-remove-bottom">Construimos viviendas familiares <br>en la Región de la Araucanía</h4>

  <h4 class="uk-margin-small-top uk-animation-fade uk-text-small uk-text-center">
    <span uk-icon="icon: mail"></span> constructorahammerspa@gmail.com <br>
    <span uk-icon="icon: whatsapp"></span> +56997115558
  </h4>

</div>
