<div id="projects"class="uk-section uk-section-default">

  <div class="uk-container uk-container-small">

    <h2 class="uk-text-center">Proyectos</h2>

    <div class="uk-grid-match uk-grid-small" uk-grid>

      {% for p in site.projects %}
        <div id="{{p.code}}" class="uk-padding" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300" uk-grid>
          <div class="uk-width-1-2@m uk-width-1-1">
            <div class="">
              <div class="">
                <a href="{{site.baseurl}}{{p.url}}">
                  <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    {% if p.main_image %}
                      <img src="{{site.baseurl}}/assets/img/obras/{{p.main_image}}" alt="Foto del proyecto {{p.title}}" class="grayscale">
                      <img class="uk-transition-fade uk-position-cover" src="{{site.baseurl}}/assets/img/obras/{{p.main_image}}" alt="Foto del proyecto {{p.title}}">
                    {% else %}
                      <img src="{{site.baseurl}}/assets/img/bg-menu.png" alt="Foto del proyecto {{p.title}}" class="grayscale">
                    {% endif %}
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="uk-width-1-2@m uk-width-1-1">
            <div class="">
              <a href="{{site.baseurl}}{{p.url}}"> <h3>{{p.title}}</h3> </a>
              <p class="uk-text-small uk-margin-remove-top uk-margin-remove-bottom"><span class="uk-margin-right" uk-icon="location"></span>{{p.location}}</p>
              <p class="uk-text-small uk-margin-remove-top uk-margin-remove-bottom"><span class="uk-margin-right" uk-icon="home"></span>{{p.area}}</p>
              <p class="uk-text-small uk-margin-remove-top uk-margin-remove-bottom"><span class="uk-margin-right" uk-icon="calendar"></span>{{p.years}}</p>
              <p> {{p.summary}} </p>
              <a class="uk-button uk-button-default" href="{{site.baseurl}}{{p.url}}">Ver más</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
